<%= form_with(model: session) do |form| %>
  <% if session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">Sport</label>
    <div class="control">
      <div class="select">
        <%= form.select :sport, %w[Wingfoiling Windsurfing Kitesurfing Kitefoilen Windfoilen], {}, { :class => "input" } %>
      </div>
      <div class="select">
        <%= form.select :spot_id, @spots.map { |s| [s.name, s.id] } %>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Spot</label>
    <div class="control">
      <div class="select">
        <%= form.select :spot_id, @spots.map { |s| [s.name, s.id] } %>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">When</label>
    <div class="control">
      <%= form.date_field :when, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Visibility</label>

    <div class="control">
      <label class="radio">
        <%= form.radio_button :visibility, 'private' %> Private
      </label>
      <label class="radio">
        <%= form.radio_button :visibility, 'public' %> Public
      </label>
    </div>
  </div>

  <div class="control">
    <%= form.submit "Create Session", :class => "button" %>
  </div>
<% end %>
