<p style="color: red"><%= alert %></p>
<p style="color: green"><%= notice %></p>

<%= form_with(model: session, id: "#{dom_id(session)}_form") do |form| %>
  <p>
    <%= form.label :sport %>
    <%= form.select :sport, %w[Freeride Wave Downwind], {}, { :class => "input" } %>
  </p>

  <p>
    <%= form.label :when %>
    <%= form.date_field :when, class: "input", required: true %>
  </p>

  <p>
    <%= form.label :where %>
    <%= form.select :spot_id, @spots.map { |s| [s.name, s.id] } %>
  </p>

  <p>
    <label>Neuer Spot</label>
    <%= text_field_tag :spotname, {}, class: "input", placeholder: "Spotname" %>
  </p>

  <p>
    <label>Wer sieht Deine Session?</label>
    <label>
      <%= form.radio_button :visibility, 'private' %> Freunde
    </label>
    <label>
      <%= form.radio_button :visibility, 'public' %> Alle
    </label>
  </p>
  <p>
    <%= form.submit "Session einstellen", :class => "button" %>
  </p>
<% end %>




