<h2 class="subtitle">Sessionplaner</h2>

<p class="mb-4">
  Plane Deine Session für einen bestimmten Tag und Spot. Deine Freunde sehen Deine
  Sessions vom Typ <em>Friends</em>, können an diesen teilnehmen und aufgezeichnet Tracks hochladen.
</p>

<% unless flash.empty? %>
  <% flash.each do |type, msg| %>
    <article class="message <%= flash_class(type) %>">
      <div class="message-body">
        <%= msg %>
      </div>
    </article>
  <% end %>
<% end %>

<%= form_with(model: session, id: "#{dom_id(session)}_form") do |form| %>
  <div class="field">
    <label class="label">Was planst du an welchem Tag?</label>
    <div class="columns is-gapless">
      <div class="column is-one-half">
        <div class="select">
          <%= form.select :sport, %w[Wingfoiling Windsurfing Kitesurfing Kitefoilen Windfoilen], {}, { :class => "input" } %>
        </div>
      </div>
      <div class="column">
        <%= form.date_field :when, class: "input", required: true %>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Bekannter oder neuer Spot?</label>
    <div class="columns is-gapless">
      <div class="column is-one-half">
        <div class="select">
          <%= form.select :spot_id, @spots.map { |s| [s.name, s.id] } %>
        </div>
      </div>
      <div class="column">
        <%= text_field_tag :spotname, {}, class: "input", placeholder: "Spotname" %>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Deine Session sehen nur Freunde oder alle?</label>
    <div class="control">
      <label class="radio">
        <%= form.radio_button :visibility, 'private' %> Friends
      </label>
      <label class="radio">
        <%= form.radio_button :visibility, 'public' %> Public
      </label>
    </div>
  </div>

  <div class="control">
    <%= form.submit "Session einstellen", :class => "button" %>
  </div>
<% end %>




