<%= form_with(model: session) do |form| %>
  <% if session.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

      <ul>
        <% session.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sport, style: "display: block" %>
    <%= form.select :sport, %w[Wingfoiling Windsurfing Kitesurfing Kitefoilen Windfoilen] %>
  </div>

  <div>
    <%= form.label :spot, style: "display: block" %>
    <%= form.select :spot_id, @spots.map { |s| [s.name, s.id] } %>
  </div>

  <div>
    <%= form.label :when, style: "display: block" %>
    <%= form.date_select :when %>
  </div>

  <div>
    <label>Visibility</label>
    <label><%= form.radio_button :visibility, 'private' %> Private (only you)</label>
    <label><%= form.radio_button :visibility, 'protected' %> Protected (friends only)</label>
    <label><%= form.radio_button :visibility, 'public' %> Public (everyone)</label>
  </div>

  <div>
    <%= form.label :duration, style: "display: block" %>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
