<div id="<%= dom_id session %>">
  <p>
    <strong>Sport:</strong>
    <%= session.sport %>
  </p>
  <p>
    <strong>Spot:</strong>
    <%= session.spot.name %>
  </p>
  <p>
    <strong>When:</strong>
    <%= time_tag session.when %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= formatted_duration(session.duration) %>
  </p>
  <p>
    <strong>Created:</strong>
    <%= time_tag session.created_at, "data-local": "time-ago"%>
  </p>
</div>
