<p style="color: green"><%= notice %></p>
<div id="sessions">
  <% @sessions.each do |session| %>
    <%= render session %>
    <p>
      <%= link_to "Show", session %>
    </p>
  <% end %>
</div>
<%= link_to "New Session", new_session_path %> |
<%= link_to "New Spot", new_spot_path %>
