<p style="color: green"><%= notice %></p>
<%= render @session %>
<div>
  <%= link_to "Edit this session", edit_session_path(@session) %> |
  <%= link_to "Back to sessions", sessions_path %> |
  <%= link_to "Destroy", session_path(@session), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
