<div id="friends">
  <% unless @friendships.empty? %>
    <h5>Friends:</h5>
    <% @friendships.each do |friendship| %>
      <ul>
        <li>
          <%= friendship.friend.name %> since <%= time_tag friendship.created_at %>
          <%= link_to "[uninvite]", friend_path(friendship), data: { turbo_method: :delete } %>
        </li>
      </ul>
    <% end %>
  <% end %>
  <% unless @users.empty? %>
    <h5>Not yet Friends:</h5>
    <% @users.each do |user| %>
      <ul>
        <li>
          <%= user.name %>
          <%= link_to "[invite]", friends_path(id: user.id), data: { turbo_method: :post } %>
        </li>
      </ul>
    <% end %>
  <% end %>
</div>