<!DOCTYPE html>
<html>
<head>
  <title>Wingbuddies</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script>
      document.addEventListener('DOMContentLoaded', () => {

          // Get all "navbar-burger" elements
          const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
              el.addEventListener('click', () => {

                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);

                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');

              });
          });

      });
  </script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Sessions", sessions_path, class: "navbar-item" %>
      <%= link_to "Spots", spots_path, class: "navbar-item" %>
      <% if user_signed_in? %>
        <%= link_to "Plan Session", new_session_path, class: "navbar-item" %>
        <%= link_to "New Spot", new_spot_path, class: "navbar-item" %>
        <%= link_to "Friends", friends_path, class: "navbar-item" %>
      <% end %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <%= link_to "Logout " + current_user.name, logout_path, data: { turbo_method: :delete }, class: "button is-primary" %>
          <% else %>
            <%= link_to "Login", login_path, class: "button is-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <%= yield %>
  </div>
</section>
</body>
<script type="text/javascript"> <!-- add this for menu toggle button  -->
(function () {
    var burger = document.querySelector('.navbar-burger');
    var menu = document.querySelector('#' + burger.dataset.target);
    burger.addEventListener('click', function () {
        burger.classList.toggle('is-active');
        menu.classList.toggle('is-active');
    });
})();
</script>
</html>
